{% extends 'index.html' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles2.css')}}">

<div class="container">

    <div class="card-img">
        <img src=" {{image}}" class="grow" width="350" height="155">
        <h1 style="text-align: center; color: yellow; -webkit-text-stroke: 2px black;">{{title}}
            <h2 style="text-align: center; color: yellow; -webkit-text-stroke: 2px black;">PRICE ${{price}}
                <br><br>
                <button class="btn" id='favoritebutton' style="background-color: {{color}};">{{message}}</button>
    </div>
    <h4 hidden id="gameid">{{gameid}}</h4>

</div>
<div>
    <br> <br> <br>
    {%for i in range(0, len)%}
    <div class="review-card">
        <h4> REVIEW {{i+1}}</h4>
        <p>{{reviews[i]}}</p>
    </div>
   
    {%endfor%}
</div>
<script>
    document.getElementById("favoritebutton").addEventListener("click", function () {
        var gameid = document.getElementById("gameid").innerHTML;
        fetch('/favorite', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(gameid)
        }).then(res => window.location.replace("/favoritespage"));
    });
</script>
{% endblock %}
