{% extends 'index.html' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">

<div class="container">

    <div class="card-img">

        <img src=" {{image}}" class="grow" width="350" height="155">
        <h1 style="text-align: center; color: yellow; -webkit-text-stroke: 2px black;">{{title}}
            <h2 style="text-align: center; color: yellow; -webkit-text-stroke: 2px black;">PRICE ${{price}}
                </a>
                <br><br><button>Game ID: {{ gameid }}</button>
    </div>

</div>
{% endblock %}