{% extends 'index.html' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles2.css')}}">

<div class="container">
    {%for game in games%}
    <div class="card-img">
        <a href="{{ url_for('gamepage',image=game.image,title=game.title,price=game.price,reviews=game.reviews,gameid=game.gameid)}}">
            <img src=" {{game.image}}" class="grow" width="350" height="155">
            <h2 style="text-align: center; color: powderblue; font-weight:300"> {{game.title}}</h2>
        </a>
    </div>
    {%endfor%}
</div>
{% endblock %}